In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('2019_commodity_by_state.csv')

In [4]:
df.head()

,Code,State,Total Exports,Beef,Tree Nuts,Soybeans,Tobacco,Fresh Fruit
0,AL,Alabama,"1,358.7",49.7,0.0,55.1,0.0,0.0
1,AK,Alaska,17.7,0.4,0.0,0.0,0.0,0.0
2,AZ,Arizona,"1,737.3",95.8,66.7,0.0,0.0,77.3
3,AR,Arkansas,"3,106.0",55.2,0.0,679.3,0.0,0.0
4,CA,California,"23,463.0",374.5,"8,476.1",0.0,0.0,"2,988.9"

In [6]:
df.dtypes

Code              object
State             object
Total Exports     object
Beef              object
Tree Nuts         object
Soybeans          object
Tobacco          float64
Fresh Fruit       object
dtype: object

In [7]:
df.tail()

,Code,State,Total Exports,Beef,Tree Nuts,Soybeans,Tobacco,Fresh Fruit
46,WA,Washington,"3,601.3",306.6,0.0,0.0,0.0,769.4
47,WV,West Virginia,158.1,19.6,0.0,0.0,0.0,0.0
48,WI,Wisconsin,"2,841.4",203.1,0.0,399.5,0.0,32.8
49,WY,Wyoming,330.4,108.5,0.0,0.0,0.0,0.0
50,USA,United States,"135,949.6","8,296.8","9,067.1","18,663.0",732.5,"4,648.9"

In [12]:
df["Beef2"]=df["Beef"].str.strip(",")

In [13]:
df["Beef2"]=df["Beef2"].astype(float)

ValueError: could not convert string to float: '1,025.4'

In [ ]:
astype